.searchBar-component {
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.btn {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

.btn:hover .btn-slide-show-text1 {
    margin-left: 65px;
}

.btn-shadow {
    display: inline-block;
    margin: 5px;
    font-weight: 500;
    line-height: 24px;
    color: rgb(255, 255, 255);
    position: relative;
    text-align: center;
    background: none;
    outline: none;
    border: none;
}

.btn-shadow::before {
    content: "";
    height: 40px;
    position: absolute;
    bottom: -1px;
    left: 10px;
    right: 10px;
    z-index: 0;
    border-radius: 2em;
    filter: blur(14px) brightness(0.9);
}

.btn-shadow span {
    display: inline-block;
    transform-style: preserve-3d;
    transition: all 0.3s ease-out 0s;
    padding: 16px 60px;
    border-radius: 50em;
    position: relative;
    z-index: 2;
    will-change: transform, filter;
    color: white;
}

.btn-shadow:hover {
    color: rgb(255, 255, 255);
}

.btn-shadow:hover span {
    filter: brightness(0.9) contrast(1.2);
    transform: scale(0.96);
}

.btn-shadow:hover::before {
    bottom: 8px;
    filter: blur(6px) brightness(0.8);
    left: 15px;
    right: 15px;
}

.btn-shadow--black span {
    background: rgb(51, 51, 51);
}